PushNotificationsDotNet/.vs
PushNotificationsDotNet/FirebaseManager/bin
PushNotificationsDotNet/FirebaseManager/obj
PushNotificationsDotNet/FirebaseManager/key.json
PushNotificationsDotNet/PushNotificationsDotNet/bin
PushNotificationsDotNet/PushNotificationsDotNet/obj
