PushFirebaseDotnet/.vs
PushFirebaseDotnet/FiebaseManager/obj
PushFirebaseDotnet/FiebaseManager/bin
PushFirebaseDotnet/FiebaseManager/key.json
PushFirebaseDotnet/PushFirebaseDotnet/bin
PushFirebaseDotnet/PushFirebaseDotnet/obj
